
.header
  display: flex
  align-items: center
  justify-content: space-between
  &__auth
    display: flex
    flex-basis: 50%
    justify-content: end
  &__time
    display: flex
    flex-basis: 10%
  &__dark-lite
    display: flex
    justify-content: center
    flex-basis: 10%
